<template>
  <div class = "flat">
    <h1>FlatbondList</h1>
    <div class = "row buttons">
        <div class = "col-xs-3 col-sm-2 col-md-1 filterbutton">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Filter List</button>            
        </div>
        <div class = "col-xs-2 col-sm-2 col-md-1 new-row">
            <button type="button" name='addDom' class="btn btn-info" id = "add-row">Create new row</button>
        </div>        
    </div>
    <div id="demo" class="collapse detail">
      <div class="row">
        <div class="col-xs-6 form-group">
            <label>status</label>
            <input class="form-control" type="text"/>
        </div>
        <div class="col-xs-6 form-group">
            <label>Branch</label>
            <input class="form-control" type="text"/>
        </div>
        <div class="col-xs-12 form-group">
            <button type="button" class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
    
    <div class = "row" id = "flat-list">
    <div class = "col-xs-4 col-sm-3" id = "name">
            <ul >
                <li class = "heading">Name</li>
                <li v-for="user in data" class = "data"><a href = "/">{{ user.name }}</a></li>
            </ul>
       </div>
       <div class = "col-sm-3 hidden-xs" id = "address">
           <ul>
                <li class = "heading">ADDRESS</li>
                <li v-for="user in data" class = "data" ><a href = "/">{{ user.address }}</a></li>
            </ul>
       </div>
       <div class = "col-xs-4 col-sm-3" id="e-date">
           <ul>
                <li class = "heading">Expiry date</li>
                <li v-for="user in data" class = "data" ><a href = "/">{{ user.expiry_date }}</a></li>
            </ul>
       </div>
       <div class = "col-xs-4 col-sm-3"  id = "status">
           <ul>
                <li class = "heading">status</li>
                <li v-for="user in data" class = "data" ><a href = "/">{{ user.status }}</a></li>
            </ul>
       </div>
    </div>
  </div>
  </template>


<script>
import axios from 'axios'
import data from '/flatfair/data/db.json'

export default {
  name: 'FlatbondList',
  data () {
    return {
      data
      }
  },
  created () {
    console.log(data)
  }
}

$("button").click(function() {
  $(this).parent('.dropdown').toggleClass('js-opened');
});
$(document).ready(function() {
    $("button[name='addDom']").click(function() {
        var name = $('<li data-v-02e5d58a class = "data"><a data-v-02e5d58a href = "/">Test</a></li>');
        $("#name ul li:last").after(name);
        var address = $('<li data-v-02e5d58a class = "data"><a data-v-02e5d58a href = "/">Test</a></li>');
        $("#address ul li:last").after(address);
        var edate = $('<li data-v-02e5d58a class = "data"><a data-v-02e5d58a href = "/">Test</a></li>');
        $("#e-date ul li:last").after(edate);
        var status = $('<li data-v-02e5d58a class = "data"><a data-v-02e5d58a href = "/">Test</a></li>');
        $("#status ul li:last").after(status);
    });
});
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a{
color:black !important;
}
.flat{
padding: 0 20px;
}
h1 {
  padding-bottom:20px;
  color:orange;
}
.heading{
padding: 6px 0;
    font-weight: bold;
    border-bottom: 1px solid orange;
    font-size: 16px;
}
.data{
padding: 10px 0;
    color: black !important;
    font-size: 14px;
    border-bottom: 1px solid #D7D7D7;
}
.data a{
color: black;

}

ul {
  list-style-type: none;
  padding: 0;
}
li {
    margin: 0 10px;
}
a {
  color: #42b983;
}


.dropdown.js-opened i {
  transform: rotate(180deg)
}

.dropdown.js-opened>ul {
  display: block
}

.dropdown>ul {
  display: none
}
.buttons{
padding-bottom:20px;
}
.detail{
padding:40px;
}
</style>
