<template>
  <div>
    <h2>performance</h2>
  </div>
</template>

<script>
export default {
  name: 'performance',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  font-weight: normal;
}
</style>
