<template>
    <form  role="form">
        <div class = "row form">
            <div class="form-group">
                <label for="inputName" class="control-label" >Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Enter name to search in database" required>
            </div>
            <div id = "error">The name is empty or doesn't exist in database</div>
            <button type="button" name='search' class="btn btn-info" id = "search">Search</button>
            <div class="form-group">
                <label for="address" class="control-label">Address</label>
                <input type="text" class="form-control" id="address">
            </div>
            <div class="form-group">
                <label for="expiry_date" class="control-label">Expiry Date</label>
                <input type="text" class="form-control" id="expiry_date">
            </div>
            <div class="form-group">
                <label for="status" class="control-label">Status</label>
                <input type="text" class="form-control" id="status">
            </div>
            <button type="button" name='update' class="btn btn-info" id = "update">Update</button>
        </div>
    </form>
</template>


<script>
import axios from 'axios'
import data from '/flatfair/data/db.json'

export default {
  name: 'settings',
  data () {
    return {
      data
      }
  },
  created () {
    console.log(data)
  }
}
$(document).ready(function() {
    $("button[name='search']").click(function() {
         var get = $("#inputName").val();
         var flag = 0
         $.each(data, function(key, value) {
            if(value.name == get){
                $('#error').hide();
                console.log("true")
                $('#address').val(value.address);
                $('#expiry_date').val(value.expiry_date);
                $('#status').val(value.status);
                $('#error').hide();
                flag = 1;
            }
        else {
                if(flag != 1){
                console.log("false")
                $('#error').show()
                $('#address').val(' ');
                $('#expiry_date').val(' ');
                $('#status').val(' ');
                }
            }
        })
     })
})
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.form{
    padding:20px 200px;
}
@media only screen and (max-width: 767px){
    .form{
        padding:20px 100px;
        }
}
#error{
    display:none;
    color:red;
    padding-bottom:20px;
}
label {
    display: flex;
    color:orange;
    font-size:16px;
}
    .btn {
    width: 50%;
    }
</style>
